.header{
    background-color: #ff0000;
    position: absolute;
    height: 40px;
    width: 100%;
    z-index: 6;
    color: white;

}
.sub-header{
    padding-top: 45px;
}
.container{
    border: solid 0.5px;
    border-color: gray;
    border-right: none;
    border: none;
    
    align-items: center;
}